In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
os.chdir("D:\CDAC\Machine Learning")

In [4]:
df = pd.read_csv("classification.csv")

In [5]:
df

    Obs   Outlook Tempreture  Humiodity    Wind Play Tennis
0     1     Sunny         Hot      High    Weak          No
1     2     Sunny         Hot      High  Strong          No
2     3  Overcast         Hot      High    Weak         Yes
3     4      Rain        Mild      High    Weak         Yes
4     5      Rain        Cool    Normal    Weak         Yes
5     6      Rain        Cool    Normal  Strong          No
6     7  Overcast        Cool    Normal  Strong         Yes
7     8     Sunny        Mild      High    Weak          No
8     9     Sunny        Cool    Normal    Weak         Yes
9    10      Rain        Mild    Normal    Weak         Yes
10   11     Sunny        Mild    Normal  Strong         Yes
11   12  Overcast        Mild      High  Strong         Yes
12   13  Overcast         Hot    Normal    Weak         Yes
13   14      Rain        Mild      High  Strong          No

In [6]:
df.shape

(14, 6)

In [7]:
df.describe()

           Obs
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Obs          14 non-null     int64
 1   Outlook      14 non-null     object
 2   Tempreture   14 non-null     object
 3   Humiodity    14 non-null     object
 4   Wind         14 non-null     object
 5   Play Tennis  14 non-null     object
dtypes: int64(1), object(5)
memory usage: 800.0+ bytes

In [9]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [10]:
x

    Obs   Outlook Tempreture  Humiodity    Wind
0     1     Sunny         Hot      High    Weak
1     2     Sunny         Hot      High  Strong
2     3  Overcast         Hot      High    Weak
3     4      Rain        Mild      High    Weak
4     5      Rain        Cool    Normal    Weak
5     6      Rain        Cool    Normal  Strong
6     7  Overcast        Cool    Normal  Strong
7     8     Sunny        Mild      High    Weak
8     9     Sunny        Cool    Normal    Weak
9    10      Rain        Mild    Normal    Weak
10   11     Sunny        Mild    Normal  Strong
11   12  Overcast        Mild      High  Strong
12   13  Overcast         Hot    Normal    Weak
13   14      Rain        Mild      High  Strong

In [11]:
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play Tennis, dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x['Outlook'] = le.fit_transform(x['Outlook'])
x['Humiodity'] = le.fit_transform(x['Humiodity'])
x['Wind'] = le.fit_transform(x['Wind'])
x.iloc[:,2]=le.fit_transform(x.iloc[:,2])


y=le.fit_transform(y)

In [13]:
# splitting dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

## Decision Tree

In [14]:
from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier(criterion='entropy',random_state=0)
model1.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [15]:
y_pred= model1.predict(x_test)

In [16]:
from sklearn.metrics import accuracy_score,confusion_matrix
acc = accuracy_score(y_test,y_pred)
acc

0.5

## Random Forest

In [17]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()
model2.fit(x_train,y_train)

RandomForestClassifier()

In [18]:
y_pred2 = model2.predict(x_test)

In [19]:
acc3 = accuracy_score(y_test,y_pred2)
acc3

0.5