In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
os.chdir("D:\CDAC\Machine Learning")
df = pd.read_excel('LoanDefaulters.xlsx')

In [4]:
df.head()

  Home Owner Marital Status Annual Income Defaulted Borrower
0        Yes         Single      $125,000                 No
1         No        Married      $100,000                 No
2         No         Single       $70,000                 No
3        Yes        Married      $120,000                 No
4         No       Divorced       $95,000                Yes

In [5]:
df.describe()

       Home Owner Marital Status Annual Income Defaulted Borrower
count          10             10            10                 10
unique          2              3            10                  2
top            No         Single      $125,000                 No
freq            7              4             1                  7

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Home Owner          10 non-null     object
 1   Marital Status      10 non-null     object
 2   Annual Income       10 non-null     object
 3   Defaulted Borrower  10 non-null     object
dtypes: object(4)
memory usage: 448.0+ bytes

In [7]:
df.shape

(10, 4)

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Home Owner'] = le.fit_transform(df['Home Owner'])
df['Marital Status'] = le.fit_transform(df['Marital Status'])
df['Annual Income'] = le.fit_transform(df['Annual Income'])
df['Defaulted Borrower'] = le.fit_transform(df['Defaulted Borrower'])

In [9]:
df

   Home Owner  Marital Status  Annual Income  Defaulted Borrower
0           1               2              2                   0
1           0               1              0                   0
2           0               2              5                   0
3           1               1              1                   0
4           0               0              9                   1
5           0               1              4                   0
6           1               0              3                   0
7           0               2              7                   1
8           0               1              6                   0
9           0               2              8                   1

In [10]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]